body{
    background-color: #D8D7D7;
    /* color:#ffffff; */
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;    
}

.btn-custom{
    background-color: #F05A22;
    color: #ffffff;
}

.btn-custom:hover{
    background-color: #F05A22;
    color: #ffffff;
}

/*********** NAVBAR ***********/
.navbar{
    min-height: 117px;
    background-color: #ffffff;
    padding-top: 20px;
    /* height: 200rem; */
}

.navbar-right{
    padding-top: 20px;
}

a.dashoard-signup-link{
    background-color: #F05A22;
    color: #ffffff;
    border-radius: 100px;
}

.navbar-nav > li > a{
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav > li:last-child{
    padding-left: 50px;
    text-align: right;
}

.navbar-nav > li > a.dashoard-signup-link:hover,
.navbar-nav > li > a.dashoard-signup-link:focus {
    color: #ffffff;
    background-color: #F05A22;    
}

.navbar-nav > li > a.dashoard-signup-link{
    color:#ffffff !important;
}

/*** END NAVBAR ***/

/*** PARTNERS ***/

/*** END PARTNERS ***/


/***** QUESTION *****/
.question{
    color: #ffffff;
    background-image: url("img/newsletter_bg.png");
    background-color: #F05A22;
    background-color: -webkit-gradient(top, #F05A22, #FDAC61 100%);
    /* background-color: gradient(linear, 0 0.55%, 0 100%, from(#FDAC61), to(#F05A22)); */
}

.question .content{
    padding-top: 70px;
    padding-bottom: 70px;
}

.question .content h2{
    font-weight: bolder;    
    font-size: 48px;
}
.question .content p{
    color: rgba(242, 238, 238, 0.66);
    font-size: 24px;
    padding: 20px;
}

.question .content .form-group-lg input{
    padding: 30px 32px;
    border-radius: 48px;
}

/**** END QUESTION ***/

/**** QUIZ SATRTS ***/
.quiz{
    background-image: url("img/quiz_bg.png");
}

.quiz .content{
    padding-top: 80px;
    padding-bottom: 100px;
}

.quiz .content p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.quiz .content a.btn{
    border-radius: 48px;
    width: 395px;
    text-transform: uppercase;
    height: 64px;
    line-height: 40px;
}

.quiz .content a.btn i{
    line-height: 40px;
    margin-right: 20px;
}
/**** END QUIZ ***/

/*** NEWSLETTER START ***/
.newsletter{
    background-image: url("img/newsletter_bg.png");
    background-color: #00B7C9;
    color: #ffffff;
}

.newsletter .content{
    padding-top: 70px;
    padding-bottom: 70px;
}

.newsletter .content h2{
    font-weight: bolder;    
    font-size: 48px;
}
.newsletter .content p{
    /* font-weight: bolder;     */
    font-size: 24px;
    padding: 20px;
}

.newsletter .content .form-group-lg input{
    padding: 30px 32px;
    border-radius: 48px;
}

/*** NEWSLETTER END ***/

/* FOOTER START */
footer {
    background-image: url("img/footer_bg.jpg");
    color: #ffffff;
}

footer .content{
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: rgba(236, 236, 236, 0.38) solid thin;
}

footer .content .social p{
    text-transform: uppercase;
    display: inline;
}

footer .content .social ul{
    display: inline;
    margin-left: 40px;
}

footer .content .social ul li{
    padding: 20px;
}

footer .content .social ul li a{
    color: #ffffff;
}

footer .content .links .links-container h4{
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 1px solid #5abae0;
}

footer .content .links .links-container ul{
    list-style: none;
    padding-left:0;    
}

footer .content .links .links-container ul li{
    padding-top:15px;  
}

footer .content .links .links-container ul li a{ 
    color: rgba(255, 255, 255, 0.71);
}

footer .copyright{
    padding-top: 20px;
    padding-bottom: 20px;
}

/**** END FOOTER **/