body{
    background-color: #f8f8f8;
    font-family: Sfcompactdisplay, sans-serif; 
}

.white-bg{
    background-color: #ffffff;
}

.page-title{
    /* padding-top: 10px; */
    padding-bottom: 10px;
    background-color: #fff;   
}

.border-bottom{
    border-bottom: solid 1px #EBEAEA;
}

.navbar{
    box-shadow: none;
}

.page-title ul li::before{
    /* content: "\f0dd";  */
    color:#F05A22;
    /* font-family: FontAwesome; */
    /* left: 5px; */
    /* position:absolute; */
    /* top:0; */
}

.page-title ul li{
    /* list-style-type: square; */
    /* color:#F05A22; */
    padding:5px;
}


.page-title .title.elastic{
    padding-top:30px;
    padding-bottom: 30px;   
}

.page-title ul.menu{
    margin-top: 20px;
}

.page-title ul.menu li a{
    color: #484747;
    text-decoration: none;
    font-size: 24px;
    font-family: Sfcompacttext, sans-serif;
}

/*********** SEARCH PAGE **********/
.search-page{
    font-family: Sfcompactdisplay, sans-serif;
    background-color: #F9F9F9;
}

.banner-section{
    /* background-image: url(""); */

    /* background-image:linear-gradient(180deg, #44bace, hsla(0, 0%, 100%, 0)), 
    url("../img/search-page-banner.jpg"); */
    /* background-color: #00B7C9; */

    /* background-image:linear-gradient(#44bace, #65E6EA, transparent), url("../img/search-page-banner.jpg"); */
    background-size: cover;

    background-image:  url("../img/search-page-banner-1.jpg");
    /* background-image: linear-gradient(45deg, red, orange); */
    

    padding-top: 30px;
    padding-bottom: 30px;
}

.page-title h2{
    font-size: 36px;
    line-height: 42px;
    font-family: Sfcompacttext, sans-serif;
    letter-spacing: -0.25px;
    padding-left: 88px;
    background-image: url("http://uploads.webflow.com/5a14bb8012d5720001cf27e5/5a3a1185bf53560001f7bbe8_Line.svg");
    background-position: 0px 50%;
    background-size: 65px;
    background-repeat: no-repeat;

}

.page-subtitle h2{
    color: #F05A22;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 42px;
    /* font-family: Sfcompacttext, sans-serif; */
    padding-left: 88px;
    background-image: url("http://uploads.webflow.com/5a14bb8012d5720001cf27e5/5a3a1185bf53560001f7bbe8_Line.svg");
    background-position: 0px 50%;
    background-size: 65px;
    background-repeat: no-repeat;

}

.page-subtitle-content{
    padding-left: 88px;
}

.page-subtitle-content h2{
    font-size: 38px;
    font-weight: 600;
    margin-top: 0px !important;
    line-height: 1;
}

.page-subtitle-content .item{
    margin-top: 30px;
    font-family: Sfcompacttext, sans-serif;
}

.page-subtitle-content .item h3{
    color: #ADACAC;
    font-size: 24px;
    /* font-weight: 400; */
    /* font-size: medium; */
    line-height: 28px;
    font-family: Sfcompactdisplay, sans-serif; 
}

.page-subtitle-content .item p.footnote{
    font-size: 18px;
    color: #9A9898;
    line-height: 32px;
}
.page-subtitle-content .item p{
    font-size: 28px;
}

.page-subtitle-content .social ul{
    font-size: 20px;
}

.page-subtitle-content .social ul li{
    padding: 10px;
    padding-right: 40px;
}
.page-subtitle-content .social ul li a{
    color: #F05A22;
}

.page-title h2.title{
    font-weight: 600;
}


@media (max-width: 991px){
    .page-title h2{
        padding-left: 15px;
        font-size: 24px;
        text-align: center;
        background-size: 50px;
    }
}

@media (max-width: 481px){
    .page-subtitle-content{
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
    .page-subtitle h2{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    form.contact-form .form-control{
        text-align: center;
    }
}
@media (max-width: 467px){
    .page-title h2{
        font-size: 20px;
        background-size: 30px;
    }
}

.page-title h2 span.line{
    width: 65px;
    height: 0px;
    /* left: 81px;
    top: 308px; */
    position: relative;
    border-bottom: 3px solid #5AE1E6;

    /* width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute; */
}

/* .search-category-result{
    margin-bottom: 20px;
} */
.result-section, .sidebar{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #f8f8f8;
}

/* .result-section .header{
    margin-top: 20px;
} */

.result-section h2.title{
    font-weight: bold;
}

.result-section h2.title .badge{
    /* font-size: 18px; */
    background-color: #5BE3E8;
    padding: 6px 14px;
    /* line-height: 21px; */
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* margin-left: 0px;  */
}

.result-section .head{
    margin-bottom: 20px;
}

.category-search-heading.results {
    color: #bebebe;
    font-size: 22px;
    font-weight: 400;
}

.black{
    color: #000;
}

.result-section .show-all{
    text-align: right;
}

@media (max-width: 766px) {
    .result-section .show-all{
        text-align: center;
    }

    .result-section h2.title{
      text-align: center;
      font-size: 24px;
    }
}


.result-section .show-all-btn{
    background: #FFFFFF;
    color: #424242;
    margin-top:10px;
    /* padding-right: 37px;
    padding-left: 22px; */
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, .07);
    border-radius: 5px;
    font-family: Sfcompacttext, sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
}

.search-category-result .result-card{
    background-color: #ffffff;
    height: 140px;
    border: 1px rgba(229, 225, 225, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
}




.result-item-content .bank-icon
{
    color: #DADADA;
}

.result-item-content .link-icon{
    color: #F0561C;
}

.result-item-content.middle{

    /* color: #F0561C; */
    border-right: solid 1px rgba(0, 0, 0, 0.07);
    display: block;
    padding-top: 20px;
}

.result-item-content.middle .tag{
    /* background-color: #F6F4F4; */
    /* padding:20px;
    font-size: 12px;
    font-family: Sfcompacttext, sans-serif;
    color: #f05a22;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase; */

    padding: 9px 23px 9px 9px;
    border-radius: 15px;
    font-family: Sfcompacttext, sans-serif;
    color: #f05a22;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

.result-item-content.middle h4{
    /* color: #4F4D4D;
    line-height: 19px;
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 100; */
    width: 80%;
    margin-top: 4px;
    margin-bottom: 8px;
    padding-top: 5px;
    font-family: Sfc, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 100;
    letter-spacing: -1px;
}

@media (max-width: 481px) {
    .result-item-content.middle h4{
        letter-spacing: 1px;
    }
}

.result-item-content.middle h5{
    color: #B8B8B8;
    font-family: Sfcompacttext, sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.result-item-content.middle .badge{
    /* background-color: #F6F4F4; */
    background-color: none;
    padding:10px;
}

/*** PERFECT CENTERING ***/
.result-item-content{
    height: 100%; /*** sweet **/
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/********* WAY FORWARD ********/
/* .search-content{
    margin-top: 30px;
} */
.search-category-result .sidebar{
    /* margin-top: 125px; */
    box-shadow: 0 1px 11px 0 #eee; 
    /* background-color: #ffffff; */
}


@media (max-width: 766px){

    .search-category-result .sidebar{
        margin-top: 30px;       
    box-shadow: 0 1px 11px 0 #eee;  
    }
        
}

.search-category-result .sidebar .panel-group{
    margin-bottom:  0px;
}

.search-category-result .sidebar .heading{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    color: #131313;
    font-size: 24px;
    background-color: #ffffff;
    border:none;    
    border-top-right-radius: 12px;    
    border-top-left-radius: 12px;    
    border-bottom: 1px solid #E8E2E2;
}



.search-category-result .sidebar .footing{
    height: 50px;
    /* border:none; */
    border-bottom-right-radius: 10px;    
    border-bottom-left-radius: 10px;    
    background: #ffffff;
}

.search-category-result .sidebar .panel-group .panel+.panel{
    margin-top: 0px;
}


.search-category-result .sidebar .panel-default{
    /* border: 1px #E8E2E2 solid; */
    /* border-bottom: 1px solid #E8E2E2;
    border-top: 1px solid #E8E2E2; */
    border-radius: 0px;
    border-left: none;
    border-right: none;
    border:none;
    border-bottom: 1px solid #E8E2E2;
}

.search-category-result .sidebar .panel-heading{
    color:#929191;
    padding: 0;
    border:none;
    background-color: #ffffff;
    font-size: 18px;
}

.search-category-result .sidebar .list-group li.list-group-item{
    padding: 20px;
}

.search-category-result .sidebar .panel-heading .p{
    height: 70px;
}
.search-category-result .sidebar .badge
{
    /* margin-left: 7px; */
    padding: 4px 17px;
    border-radius: 8px;
    background-color: #f05a22;
    color: #fff;
    font-size: 14px;
}
.search-category-result .sidebar .panel-heading .badge,
.search-category-result .sidebar li.list-group-item .badge
{
    /* background-color: rgba(203, 202, 202, 0.25); 
    color: #F0561C; */
    /* background-color: #333; */

    /* margin-top: 12px; */
    border-style: solid;
    border-color: #72d5dc;
    background-color: #fff;
    box-shadow: none;
    font-family: Sfcompacttext, sans-serif;
    color: #000;
    border-width: 1px;
    /* padding: 4px 4px; */
    border-radius: 15px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

.search-category-result .sidebar li.list-group-item .badge{
    background-color: #76d7de;
    color: #fff;
    padding: 6px 14px 4px;
}

.search-category-result .sidebar .panel-heading .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.search-category-result .sidebar .panel-heading .item.middle{
    border-left: solid 1px rgba(0, 0, 0, 0.07);    
}

.search-category-result .sidebar .panel-heading a{
    text-decoration: none;
    color:#929191;
    font-size: 16px;
    letter-spacing: -1px;  
}

/********* CONTACT PAGE *********/
.contact{
    padding-bottom: 40px;
}

form.contact-form{
    font-family: Sfcompactdisplay, sans-serif; 
    margin-top: 40px;
    
}

form.contact-form .form-control{
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(189, 190, 190, 0.6158);
    border-radius: 0;
    padding: 25px 0px;
    font-size: 22px;
    color: #747272;
    font-weight: 500px;
}


form.contact-form textarea.form-control {
    height: 24px;
    overflow: hidden;
}

form.contact-form .form-group label{
    text-transform: uppercase;
    color: #B7B7B7;
    font-size: 14px;
    /* letter-spacing: 1px; */
}

form.contact-form button{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* box-shadow: #000 #424242; */
}

/*
.clarification{
    background: url(../img/contact-footer.jpg) 0 100%/540px no-repeat, #000000;
}
*/

.clarification {
    background:linear-gradient(#fff 10%,transparent),
               url(../img/contact-footer.jpg) no-repeat;
    background-position: 0 41%;
    background-size: cover;
}
.clarification > div{
    height:400px;
}
.clarification > div > div >div > p {
    color:#ADACAC;
    letter-spacing:0.25em;
}

/*********** CONTACT PAGE END **********/
.search-category-result .sidebar .checkbox-label {
    padding-left: 5px;
    float: none;
    font-family: Sfcompacttext, sans-serif;
    color: #6e6e6e;
    font-size: 11px;
    line-height: 5px;
    margin-top: -10px;
}

@media (max-width: 768px){
    .search-category-result .sidebar .panel-heading a{
        font-size: 14px;
    }
}

